<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/icon.svg">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/help.css">
    <title>Weather</title>
</head>
<body>
    <div id="wrapper">
        {{>header}}
        <main>
            <h1>{{title}}</h1>
            <section class="section-help">
                <h3>Some About the Project</h3>
                <p>This small project were bilt using two popular Weather API</p>
                <div class="info">
                    
                    <div class="info-api">
                        <h4>Api's</h4>
                        <ul>
                            <li>
                                <a href="https://api.mapbox.com/">Mapbox</a>
                            </li>
                            <li>
                                <a href="http://api.weatherstack.com">Weather Stack</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info-tech">
                        <h4>Tech Used</h4>
                        <ul>
                            <li>Node JS</li>
                            <li>Express JS</li>
                            <li>Handlbars</li>
                            <li>Request</li>
                            <li>JavaScript</li>
                            <li>Hbs</li>
                            <li>Css</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>